.btn-pink-moon {
    background: #ec008c;
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
    background: linear-gradient(to right, #fc6767, #ec008c);
    color: #fff;
    border: 3px solid #eee;
}